{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- 파이썬 장고에서는 form 태그에 {% csrf_token %} 추기 (크로스도메인 체크를 위한 방지차원) -->
        <form method="POST" action=".">
        {% csrf_token %}
        <!-- <div class="mb-3">
            <label for="username" class="form-label">사용자 이름</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="사용자 이름">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
        </div> -->
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
        </div>
        {% if field.errors %}
        <span style="color:red;">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}
        <!-- {{ form }} -->
        <!-- {{ form.as_p }}
        {{ form.as_table }} -->
        <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
{% endblock %}